<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms | Amanda Admin Template</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
    <link id="addonstyle" rel="stylesheet" href="css/style.contrast.css" type="text/css" />
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="js/plugins/charCount.js"></script>
    <script type="text/javascript" src="js/plugins/ui.spinner.min.js"></script>
    <script type="text/javascript" src="js/custom/general.js"></script>
    <script type="text/javascript" src="js/custom/forms.js"></script>
    <script type="text/javascript" src="js/custom/elements.js"></script>
    <script type="text/javascript" src="js/plugins/colorpicker.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
    <div class="pageheader notab">
        <h1 class="pagetitle">
            Información de Agendamiento de Proceso</h1>
        <span class="pagedesc">This is a sample description of a page</span>
    </div>
    <!--pageheader-->
    <div id="contentwrapper" class="contentwrapper">
        <style>
            .leftCol p
            {
                border-right: none;
            }
        </style>
        <div id="basicform" class="subcontent">
            <form class="stdform stdform2" method="post" action="">
            <div style="width: 50%; float: left" class="leftCol">
                <p>
                    <label>
                        Proceso</label>
                    <span class="field">
                        <input type="text" name="firstname" id="firstname2" class="longinput" value="Job Replicación 1" /></span>
                </p>
                <p>
                    <label>
                        Trigger</label>
                    <span class="field">
                        <input type="text" name="lastname" id="lastname2" class="smallinput" value="1" /></span>
                </p>
                <p>
                    <label>
                        Usuario</label>
                    <span class="field">
                        <input type="text" name="email" id="email2" class="smallinput" value="Carlos.Daniel.Vazquez" /></span>
                </p>
                <p>
                    <label>
                        Descripción <small>You can put your own description for this field here.</small></label>
                    <span class="field">
                        <textarea cols="80" rows="3" name="location" id="location2" class="longinput"></textarea></span>
                </p>
            </div>
            <div style="width: 50%; float: right">
                <p>
                    <label>
                        Registros</label>
                    <span class="field">
                        <input type="text" name="email" id="Text1" class="smallinput" value="10/100" /></span>
                </p>
                <p>
                    <label>
                        Frecuencia</label>
                    <span class="field">
                        <input type="text" name="email" id="Text2" class="smallinput" /></span>
                </p>
                <p>
                    <label>
                        Tipo de Proceso</label>
                    <span class="field">
                        <input type="text" name="email" id="Text4" class="smallinput" /></span>
                </p>
                <p>
                    <label>
                        Comentario</label>
                    <span class="field">
                        <textarea cols="80" rows="3" name="location" id="Textarea1" class="longinput"></textarea></span>
                </p>
            </div>
            <div style="clear: both">
            </div>
            <div class="contenttitle3">
                <h3>
                    Resultado de la Ejecución</h3>
            </div>
            <!--contenttitle-->
            <br />
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Entrada</a></li>
                    <li><a href="#tabs-2">Salida</a></li>
                </ul>
                <div id="tabs-1">
                    Your content goes here for tab 1
                </div>
                <div id="tabs-2">
                    Your content goes here for tab 2
                </div>
            </div>
            <!--#tabs-->
            <p class="stdformbutton">
                <button id="followbtn" class="stdbtn btn_blue">
                    Ejecutar</button>
                <input type="reset" class="reset radius2" value="Cerrar" />
            </p>
            </form>
        </div>
        <!--subcontent-->
    </div>
    <!--contentwrapper-->
</body>
</html>
